# Core functionality - changes here should be rare!
/src/app.py                   @vishyv
/src/backend/database.py      @vishyv
/src/backend/routers/auth.py  @vishyv

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vishyv
